<div class="container">
    <div class = "row-center">
      <div class = "center-block vcenter">
        <img src = "https://i.imgur.com/bHBboLT.jpg" alt = "MarioAboutMePic" style = "width: 400; height: 400px;">
      </div>
      <div class = "center-block vcenter">
        <div class = "row myfont">
          <p>
            Hello!  My name is Mario Konja.  I'm a software developer, soccer enthusiast, and all around business man.
            I love to learn new things while having fun.
          </p>
          <p>
            As a developer I have done a few side projects such as mobile games and this website (which is built in Angular!).
            I love taking the craft and I know and applying it to my every day life.  Playing with things such as a RaspberryPi
            is always fun for me.
          </p>
          <p>
            Soccer has always been a huge part of my life.  My dad played it and he made me fall in love with it more.
            I played club soccer, was a 4 year varsity letterman, and coach whenever I find the time.
          </p>
          <p>
            I grew up in a business environment.  My dad's family all were business owners and entrepreneurs.  Always looking to
            how they can improve or open a new business.  In Highschool I took what I learned from my family and with the help of
            2 friends won the DECA ICDC School Based Enterpise competition.
          </p>
        </div>
      </div>
    </div>
  </div>