<div class = "myfont">
    <p>
      <a href="https://play.google.com/store/apps/details?id=com.konjagames.jumpysquirrel&hl=en">
        <img src = "https://i.imgur.com/QJ4RtaB.png?1" alt = "jumpySquirrel" style = "width: 150; height: 150px;">
      </a>
      Jumpy Squirrel - a flappy bird type game, but you are a squirrel trying to avoid holes.
    </p>
    <p>
      <a href="https://play.google.com/store/apps/details?id=com.konjagames.noobyninja&hl=en">
        <img src = "https://i.imgur.com/IutU1Vq.png?1" alt = "ninja" style = "width: 150; height: 150px;">
      </a>
      Nooby Ninja - a basic platformer, using tilt controls and screen tapping to traverse levels. Kind of unfinished.
    </p>
    <p>
      <a href="https://play.google.com/store/apps/details?id=luissuarezbuffet.konjagames.com&hl=en">
        <img src = "https://i.imgur.com/14A91D5.png?1" alt = "suarezBuffet" style = "width: 150; height: 150px;">
      </a>
      Luis Suarez Buffet -  a meme game made to poke fun at a soccer player who has bitten 3 players.  Made and deployed in 1 day.
    </p>
</div>